<div class="jumbotron">
	<h1>Noot<span style='color:#f2711c;'>rate</span></h1>
	<p>Vote on nootropics</p>
</div>
<div class="ui grid">
	<div class="one wide column"></div>

	<div class="five wide column">
		<h3>Highest rating</h3>
		<% Rating.where(tag_name: :Rating).order(:cached_weighted_average => :desc).limit(15).each do |rating| %>
			<%= "#{rating.subject_link} - #{rating.cached_weighted_average*10}% (#{rating.cached_votes_total} votes)".html_safe %><br>
		<% end %>
	</div>

	<div class="five wide column">
		<h3>Popular subjects</h3>
		<% Rating.select('subject_name, SUM(cached_votes_total) total_votes').order('(SUM(cached_votes_total) / COUNT(tag_id)) DESC').limit(15).group(:subject_name).each do |rating| %>
			<%= "#{rating.subject_link} - #{rating.total_votes} votes".html_safe %><br>
		<% end %>
	</div>

	<div class="five wide column">
		<h3>Popular tags</h3>
		<% Rating.select('tag_name, COUNT(subject_id) AS count').order('COUNT(subject_id) DESC').limit(15).group(:tag_id, :tag_name).each do |rating| %>
			<%= "#{rating.tag_link} - #{rating.count} subjects".html_safe %><br>
		<% end %>
	</div>

	<div class="one wide column"></div>

	<div class="five wide column">
		<h3>Most tagged</h3>
		<% Rating.select('subject_name, COUNT(tag_id) AS count').order('COUNT(tag_id) DESC').limit(15).group(:subject_id, :subject_name).each do |rating| %>
			<%= "#{rating.subject_link} - #{rating.count} tags".html_safe %><br>
		<% end %>
	</div>

	<div class="five wide column">
		<h3>Recent subjects</h3>
		<% Subject.limit(15).order(:created_at => :desc).each do |subject| %>
			<%= "#{subject.link} - #{subject.date}".html_safe %> <br>
		<% end %>
	</div>

	<div class="five wide column">
		<h3>Recent tags</h3>
		<% Tag.limit(15).order(:created_at => :desc).each do |tag| %>
			<%= "#{tag.link} - #{tag.date}".html_safe %> <br>
		<% end %>
	</div>
</div>