<%= form_for @comment, :action => "create", :html => {:class => "ui form"} do |f| %>
	<%= f.hidden_field(:rating_id, :value => @rating.id) %>
	<%= f.hidden_field(:tag_id, :value =>  @rating.tag_id) %>
	<%= f.hidden_field(:subject_id, :value =>  @rating.subject_id) %>
	<%= f.hidden_field(:tag_name, :value =>  @rating.tag_name) %>
	<%= f.hidden_field(:subject_name, :value =>  @rating.subject_name) %>

	<div class="field">
		<label>Comment:</label>
		<%= f.text_area :comment, :value => session[:comment] %>
		<% session.delete(:comment) %>
	</div>

	<div class="field">
		<%= recaptcha_tags %>
	</div>

	<%= f.submit "Create", :class => "ui blue button" %>
<% end %>

