<% content_for :javascript_includes do %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<% end %>

<%- model_class = Rating -%>
<% subject = Subject.find_by(id: @rating.subject_id) %>
<% tag = Tag.find_by(id: @rating.tag_id) %>
<div class='ui grid'>
  <div class='sixteen wide column'>
    <div class="ui segment">
        <h1 align='center'><%= "<i title='rating-id:#{@rating.id}' class='icon bar chart'></i> #{subject.link} / #{tag.link}".html_safe %></h1>

        <strong><%= subject.name %></strong> 
        <br>
        <%= subject.description.html_safe %>
        <br>
        <br>
        <strong><%= tag.name %></strong> 
        <br>
        <%= tag.description.html_safe %>
        <br>
        <br>
        <strong>Rating</strong>
        <br>
        <%= "#{@rating.average}% based on #{@rating.votes} vote(s)." %>
        <br>
        <br>
        <% votes = Hash[Vote.group(:vote_weight).where(votable_type: :Rating, votable_id: @rating.id).pluck('vote_weight, COUNT(vote_weight) as vote_count')]
            (0..10).each do |i|
                if !votes.key?(i)
                    votes[i] = 0
                end
            end
        %>
        <%= column_chart votes, ytitle: "Total votes", label: "Total votes", colors: ["#f2711c"] %>
    </div>

    <div class="ui segment">
      <%= render 'form_comment' %>
      <%= render 'comment_list' %>
    </div>
</div>