<%- model_class = Rating -%>
<% subject = Subject.find_by(id: @rating.subject_id) %>
<% tag = Tag.find_by(id: @rating.tag_id) %>
<div class='ui grid'>
  <div class='sixteen wide column'>
    <div class="ui segment">
        <h1 align='center'><%= "<i title='rating-id:#{@rating.id}' class='icon bar chart'></i> #{subject.link} / #{tag.link}".html_safe %></h1>

        <strong><%= subject.name %></strong> 
        <br>
        <%= subject.description.html_safe %>
        <br>
        <br>
        <strong><%= tag.name %></strong> 
        <br>
        <%= tag.description.html_safe %>
        <br>
        <br>
        <strong>Rating</strong>
        <br>
        <%= "#{@rating.average}% based on #{@rating.votes} vote(s)." %>
        <br>
        <br>
        <% total_votes = @rating.cached_votes_total %>
        <%= column_chart Vote.group(:vote_weight).where(votable_id: @rating.id).count(:id), ytitle: "Total votes", label: "Total votes", colors: ["#f2711c"] %>
    </div>

    <div class="ui segment">
      <%= render 'form_comment' %>
      <%= render 'comment_list' %>
    </div>
</div>