<%- model_class = Tag -%>
<% page = params.has_key?(:page) ? params[:page].to_i > 0 ? params[:page].to_i : 1 : 1 %>
<% alpha = params.has_key?(:alpha) ? (("ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789".include? params[:alpha]) ? params[:alpha] : "") : "" %>
<% sorton = params.has_key?(:sorton) ? ((['subject_count', 'vote_count'].member? params[:sorton]) ? params[:sorton] : 'tag_name') : 'tag_name' %>

<div class='ui grid'>
  <div class='eight wide column'>

<% rating_list = Rating.joins("ratings, tags").where('tags.id = ratings.tag_id')
  .where(alpha == '' ? '' : "lower(tag_name) LIKE '#{alpha.downcase}%'")
  .select("tag_id, tag_name, tags.description AS description, COUNT(DISTINCT subject_id) AS subject_count, SUM(cached_votes_total) AS vote_count")
  .group('tag_id, tag_name, tags.description')
  .order(sorton == 'tag_name' ? "tag_name ASC" : "#{sorton} DESC" )
   %>

<table class="ui table compact">

  <tbody>
      <% rating_list.each_with_index do |rating, index| %>
        <tr>
          <td><span class="ui gray circular label"><%= page * 10 - 10 + index + 1 %></span></td>
          <td>
            <%= rating.tag_link %> - (<%= rating.subject_count %> subjects. <%= ActiveSupport::NumberHelper.number_to_delimited(rating.vote_count) %> votes)
            <br>
            <%= rating.description %>
          </td>
        
        </tr>
      <% end %>
      </tbody>
</table>

  </div>

  <div class='eight wide column'>
  <div class="ui segment"  align='center'>
    <h1>Starts with</h1>
    <%= link_to_if params.has_key?(:alpha), 'all', tags_path(:sorton => 'tag_name') %>

    <% "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789".each_char { |c| %>
      <%= link_to_if !(params.has_key?(:alpha) && params[:alpha] == c), c, tags_path(alpha: c) %>
    <% } %>

    <h1>Sort on</h1>
    <div class="ui buttons">
      <% active_class = sorton == 'tag_name' ? 'disabled positive' : '' %>
      <%= link_to "Name", tags_path(:sorton => 'tag_name', :alpha => alpha),  :class => "ui button #{active_class}", :title => 'List subjects that contain all selected tags.' %>
      
      <div class="or"></div>
      <% active_class = sorton == 'subject_count' ? 'disabled positive' : '' %>
      <%= link_to "Most subjects", tags_path(:sorton => 'subject_count', :alpha => alpha), :class => "ui button #{active_class}", :title => 'List subjects that contain at least one selected tag.' %>
    
      <div class="or"></div>
      <% active_class = sorton == 'vote_count' ? 'disabled positive' : '' %>
      <%= link_to "Most votes", tags_path(:sorton => 'vote_count', :alpha => alpha), :class => "ui button #{active_class}", :title => 'List subjects that contain at least one selected tag.' %>

    </div>

  </div>
  </div>
</div>