<%- model_class = Tag -%>
<% title @tag.name %>
<% voting = current_user && params.has_key?(:vote) %>
<% rating_list = Rating.where(tag_id: @tag.id).order((voting ? :subject_name : :cached_votes_total) => (voting ? :asc : :desc)) %>

<div class='ui grid'>

  <div class='<%= voting ? 'eight' : 'ten' %> wide column'>
    <div class='ui segment'>
      <h1 class='ui header' align='center'><%= @tag.name %><div class='sub header'>created <%= @tag.date %></div></h1>
      <h4 class='ui header' align='center'><%= @tag.description %></h4>
      <br><br>
      <%= comment_list tag_id: @tag.id %>
    </div>
  </div>

  <div class="<%= voting ? 'eight' : 'six' %> wide column">
    <div class="ui segment">
      <%= attribute_list(voting, 'tag', @tag.id)[0] %>
    </div>
  </div>
</div>

