<%- model_class = Subject -%>
<% title @subject.name %>
<% voting = current_user && params.has_key?(:vote) %>

<div class='ui grid'>

  <div class='<%= voting ? 'eight' : 'ten' %> wide column'>
    <div class='ui segment'>
      <h1 class='ui header' align='center'><%= @subject.name %><div class='sub header'>created <%= @subject.date %></div></h1>
      <h4 class='ui header' align='center'><%= @subject.description %></h4>
      <br><br>
      <%= comment_list subject_id: @subject.id %>
  </div>
  </div>

  <div class="<%= voting ? 'eight' : 'six' %> wide column">
    <div class="ui segment">


    <div class="bar-chart">
                <div class="chart clearfix">
                    <div class="chart-item">
                        <div class="bar">
                            <span class="percent">100</span>
                            <span class="item-progress" style="width:50%"></span>
                            <span class="title"><%= @subject.link %> - 0 votes</span>
                        </div>
                    </div>
                    
                    <div class="chart-item">
                        <div class="bar">
                            <span class="percent">71</span>
                            <span class="item-progress" style="width:71%"></span>
                            <span class="title">Reading - 12.1k votes</span>
                        </div>
                    </div>
                    
                    <div class="chart-item">
                        <div class="bar">
                            <span class="percent">100</span>
                            <span class="item-progress" style="width:100%"></span>
                            <span class="title">Ass - 0 votes</span>
                        </div>
                    </div>
            
                    <div class="chart-item">
                        <div class="bar">
                            <span class="percent">10</span>
                            <span class="item-progress" style="width:10%"></span>
                            <span class="title">Persuasion - 123 votes</span>
                        </div>
                    </div>
                </div>
                <!-- //.chart -->
            </div>



      

      <% html, list = attribute_list(voting, 'subject', @subject.id) %>
      <%= html %>
      
    <% if !voting
      ratings = Rating.select("subject_name, COUNT(tag_id) AS rank")
      .where(:tag_id => list.pluck(:tag_id))
      .where.not(subject_id: @subject.id)
      .group(:subject_id, :subject_name)
      .order("COUNT(tag_id) DESC")
      .limit(5)

     if ratings.length > 0 %>
      <div class="ui divider"></div>
        <h3>Similar</h3>
        <% ratings.each do |similar_rating| %>
          <%= "#{similar_rating.subject_link} - #{similar_rating.rank} tags in common".html_safe %><br>
        <% end %>
    <% end %>
    <% end %>

     </div>

  </div>
</div>

